/*bootstrap table corrections, esp. for Chrome*/
.table td:nth-child(1){
    width:20%;
}

.tag_element {
    background-color: powderblue;
    border: 2px solid darkblue;
    border-radius: 4px;
    padding: 3px;
    margin: 3px;
}
