/*bootstrap table corrections, esp. for Chrome*/
.table td:nth-child(1){
    width:20%;
}

.tag_element {
    background-color: powderblue;
    border: 2px solid darkblue;
    border-radius: 4px;
    padding: 3px;
    margin: 3px;
}

.note {
    font-family: scrgunny, cursive;
    font-size: 30px;
}

.entryTitle {
    font-family: typewriter, monospace;
    font-size: 30px;
    color: #b40000;
}

.timestamp {
    font-family: typewriter, monospace;
    font-size: 20px;
}

@font-face {
    font-family: scrgunny; /* deklarace fontu */
    src: url("scrgunny.TTF"); /* propojení na umístìní souboru */
}

@font-face {
    font-family: typewriter; /* deklarace fontu */
    src: url("Albertsthal%20Typewriter.ttf"); /* propojení na umístìní souboru */
}
