{% extends 'base.html.twig' %}

{% block body %}
    <button onclick="fetchData('{{ path('get_prev_entry') }}')">Prev</button>
    <button onclick="fetchData('{{ path('get_entry_by_id', {id: nextId}) }}')">Next</button>
    <div id="ajaxBody">

    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function() {
            var url = '{{ path('get_entry_by_id', {id: id}) }}';
            fetchData(url);
        });

        function fetchData(url) {
            xhttp = new XMLHttpRequest();
            xhttp.open("GET", url, true);
            xhttp.setRequestHeader("Content-type", "application/json");
            xhttp.send();

            xhttp.onreadystatechange = function () {
                if (xhttp.readyState == 4 && xhttp.status == 200) {
                    diaryEntryGenerator(xhttp.responseText);
                }
            }
        }

        function diaryEntryGenerator(response) {
            var arr = JSON.parse(response);
            var datetime = arr['datetime'];
            var title = arr['title'];
            var note = arr['note'];
            var out = "";
            out += '<h2 class="timestamp">' + datetime + '</h2>' +
                    '<div class="entryTitle">' + title + '</div>' +
                    '<p class="note">' + note + '</p>';

            $('#ajaxBody').html(out);
        }
    </script>
{% endblock %}
