{% extends 'base.html.twig' %}

{% block body %}
    <button onclick="fetchData(prevOffset());">Prev</button>
    <button onclick="fetchData(nextOffset());">Next</button>
    <div id="ajaxBody">
        Loading...
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        var actualOffset = 0;
        var maxOffset = 0;
        $(document).ready(function() {
            var requiredOffset = '{{ offset }}';
            maxOffset = Number({{ maxOffset }});
            fetchData(requiredOffset);
        });

        function fetchData(paramOffset) {
            var url = '{{ path('get_entry_by_offset', {offset: 'offset_value'}) }}';
            url = url.replace("offset_value", paramOffset);
            xhttp = new XMLHttpRequest();
            xhttp.open("GET", url, true);
            xhttp.setRequestHeader("Content-type", "application/json");
            xhttp.send();

            xhttp.onreadystatechange = function () {
                if (xhttp.readyState == 4 && xhttp.status == 200) {
                    diaryEntryGenerator(xhttp.responseText);
                    actualOffset = Number(paramOffset)
                }
            }
        }

        function diaryEntryGenerator(response) {
            var arr = JSON.parse(response);
            var datetime = arr['datetime'];
            var title = arr['title'];
            var note = arr['note'];
            var out = "";
            out += '<h2 class="timestamp">' + datetime + '</h2>' +
                    '<div class="entryTitle">' + title + '</div>' +
                    '<p class="note">' + note + '</p>';

            $('#ajaxBody').html(out);
        }

        function prevOffset() {
            if (actualOffset > 0) {
                return actualOffset - 1;
            }
            return 0;
        }

        function nextOffset() {
            if (actualOffset < maxOffset) {
                return actualOffset + 1;
            }
            return maxOffset;
        }

    </script>
{% endblock %}
