{% extends 'base.html.twig' %}

{% block body %}
    <h1>My Notebook</h1>
    <h2>Tool for your personal growth.</h2>
    <div>
        <p>Write down your sport activities, hobbies, studying or whatever you want.</p>
    </div>
{% endblock %}
