{% extends 'base.html.twig' %}

{% block header %}
    Notes Index
{% endblock %}

{% block body %}
    <table id="diaryindex" class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Date and time</th>
            <th>Note</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
            {% include(':diary:index.tbody.html.twig') %}
        </tbody>
    </table>

    {% include('diary/index.paginator.html.twig') %}

{% endblock %}
