{% extends 'base.html.twig' %}

{% block header %}
    Notes
{% endblock %}

{% block body %}
    <div id="leftnav">
        <table class="table table-striped table-hover">
            {% include(':diary:index.notags.tbody.html.twig') %}
        </table>
    </div>
    <div id="rightframe" onclick="location.href='{{ path('edit', {id: diaryEntry.id}) }}'">
            <h2 class="timestamp">{{ diaryEntry.datetime | date("Y-m-d h:i") }}</h2>

            <div class="entryTitle">
                {{ diaryEntry.getTitle() }}
            </div>

            <p class="note">
                {{ diaryEntry.note }}
            </p>
            <div>
            {%  include ":tag:collection_read.html.twig" %}
            </div>
    </div>

{% endblock %}
