{% extends 'base.html.twig' %}

{% block body %}
        <h2 class="timestamp">{{ diaryEntry.datetime | date("Y-m-d h:i") }}</h2>

        <div class="entryTitle">
            {{ diaryEntry.getTitle() }}
        </div>

        <p class="note">
            {{ diaryEntry.note }}
        </p>
{% endblock %}
