{% extends 'base.html.twig' %}

{% block body %}
<h1>Success</h1>
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="flash-notice">
            {{ flashMessage }}
        </div>
    {% endfor %}
{% endblock %}