<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th>Text</th>
        <th>Id</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    {% for tag in tags %}
        <tr onclick="window.location.href='{{ path('tag_edit', {'id': tag.id}) }}'">
            <td>{{ tag.text }}</td>
            <td>{{ tag.id }}</td>
            <td> <a href={{ path('tag_delete', {'id': tag.id}) }}>&#x1F5D1;</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>